{
	"useTabs": true,
	"printWidth": 80,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "es5",
	"jsxBracketSameLine": false,
	"semi": true,
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"printWidth": 120
			}
		}
	]
}
